body {
    margin: 0;
    padding: 0;
    font-family: $primaryFont;
    background: $bodyColor;
    font-size: 1rem;
}

a {
    color: $fontColor;

    &:hover {
        text-decoration: none;
        color: $linkColor;
    }
}

address,
p,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

em {
    font-style: normal;
}
