/* 
    Colors
---------------------------*/
$whiteColor: #FFFFFF;
$fontColor: #000000;
$linkColor : #0056b3;
$bodyColor: #ffffff;            


$primaryColor: #d64b51;             
$secondaryColor: #8c8c8c;

$colorOne: #eeeeee;    
$colorTwo: #393939;    
$colorThree: #212121;     
$colorFour: #363d4d;     
$colorFive: #dddedf;     
$colorSix: #2a2a2a;