/* Colors
---------------------------*/
$white-color: #FFFFFF;
$font-color: #212529;
$link-color : #0056b3;
$body-color: #EDEEF3;            


$primary-color: #3168D1;             
$secondary-color: #EB7A3F;
$grey-color: #e0e0e0;

/* Fonts
---------------------------*/
$title-font: 'Nunito', sans-serif;
$normal-font: 'Poiret One', cursive;

/* Font Weight
---------------------------*/
$low-weight: 300;
$regular-weight: 400;
$midium-weight: 600;
$high-weight: 700;

/* z-index
---------------------------*/
$low-index: 1;
$mid-index: 5;
$high-index: 9;

/* Spaces
---------------------------*/
$tiny-space: 10px;
$small-space: 20px;
$medium-space: 40px;
$large-space: 80px;
$xLarge-space: 120px;

