/* Colors
---------------------------*/
$white-color: #FFFFFF;
$font-color: #212529;
$link-color : #0056b3;
$body-color: #FFFFFF;            


$primary-color: #fab701;
$secondary-color: #8d8d8d;
$tertiary-color: #3498DB;
$grey-color: #999;
$grey-color-primary: #666;

/* Fonts
---------------------------*/
$title-font: 'Montserrat', sans-serif;
$normal-font: 'Raleway', sans-serif;

/* Font Weight
---------------------------*/
$xlight-weight: 200;
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$high-weight: 700;

/* z-index
---------------------------*/
$low-index: 1;
$mid-index: 5;
$high-index: 9;

/* Spaces
---------------------------*/
$tiny-space: 10px;
$small-space: 20px;
$medium-space: 40px;
$large-space: 80px;
$xlarge-space: 120px;

$small-shadow: 0 2px 8px rgba(0,0,0,0.08);
$medium-shadow: 0 5px 15px rgba(0,0,0,0.08);
$large-shadow: 0 14px 25px rgba(0,0,0,0.16);

