/* Colors
---------------------------*/
$whiteColor: #FFFFFF;
$fontColor: #212529;
$linkColor : #0056b3;
$bodyColor: #EDEEF3;            


$primaryColor: #3168D1;             
$secondaryColor: #A8AAB2;
$tertiaryColor: #EB7A3F;

/* Fonts
---------------------------*/
$primaryFont: 'Nunito', sans-serif;
$secondaryFont: 'Poiret One', cursive;

/* Font Weight
---------------------------*/
$lowWeight: 300;
$semiMidWeight: 400;
$midWeight: 600;
$highWeight: 700;

/* z-index
---------------------------*/
$zLowIndex: 1;
$zMidIndex: 5;
$zHighIndex: 9;

/* Spaces
---------------------------*/
$tinySpace: 10px;
$smallSpace: 20px;
$mediumSpace: 40px;
$largeSpace: 80px;
$xLargeSpace: 120px;

