.article {
    margin-bottom: 50px;

    figure {
        margin-bottom: 10px;
    }

    header {
        h1 {
            font-size: 120%;
            @include one-line-text;
        }

        time {
            margin-bottom: 10px;
            display: block;
            font-size: 90%;
            color: $secondaryColor;
        }
    }

    main {
        font-size: 100%;
        text-align: justify;
        margin-bottom: 10px;
    }

    footer {
        a {
            color: $primaryColor;
        }
    }


}
