.article-list {
    h1 {
        @include one-line-text;
        font-size: 120%;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid $colorOne;
    }

    &:first-child {
        color: $primaryColor;
        margin-top: -6px;
    }

    &:last-child {
        h1 {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}