.title {
    font-family: $title-font;
    font-size: 1.5rem;

    &--xsmall {
        font-size: 1rem;
    }

    &--small {
        font-size: 1.2rem;
    }

    &--medium {
        font-size: 1.4rem;
    }
}

.subtitle {
    font-family: $normal-font;
    font-size: 1rem;

    &--small {
        font-size: 0.8rem;
        color: $grey-color;
    }
}